#git "git@github.ibm.com:CMER/card-kit-runtime.git" "master"
git "git@github.ibm.com:CMER/card-kit-runtime.git" "input-boxing"
github "mavlink/c_library_v2" "master"
git "https://bitbucket.org/boland/redparkserialcable.git" "master"
