git "git@github.ibm.com:CMER/card-kit-runtime.git" "master"
github "mavlink/c_library_v1" "master"
github "mavlink/c_library_v2" "master"
git "https://bitbucket.org/boland/redparkserialcable.git" "master"
github "dji-sdk/Mobile-SDK-iOS" ~> 3.3
